    <ion-view name="ajuda">
  <ion-content>
    <h1 class="titulo1">
       Dúvidas frequentes.
    </h1>

    <div class="item item-divider" href="#/ajuda">
        Erros com localização?
        Favor, sempre verificar se o "GPS" do seu smartfone esta ativado, se não está, va em tarefas e ative.
    </div>
    <div class="item item-text-wrap">
        Finalidade do Aplicativo: que os nosso usuário façam novos amigos para compartilhar os lugares que vendem os melhores açais, para recomendarem os melhores lugares, eles podem se encontrar usando nosso "chat", podem somente receber recomendações de lugares. 
    </div>
     <div class="item item-divider">
        Sons: se o som do aplicativo encomoda-los, se as notificações não forem necessárias e se você não quer que as pessoas fiquem te chmando no chat é só você ir em configurações e desativar tudo isso.
     </div>
    <div class="item item-text-wrap">
        Logar com o facebook: os unicos dados que o nosso aplicativo mostrara para os outros usuários é a foto de perfil e o seu nome; se você esta logado com o facebook você não poderá alterar a foto de peril, pois isso será baseado nas informações padrões do seu facebook, para mudar você deve alterar la no seu facebook.
    </div>
    </div>
    
    </ion-content>
  </ion-view>