<ion-view name="configuracoes">
  <ion-content>
<h1 class="titulo1">
      <i class="icon ion-arrow-left-c">     Configurações

  </h1>

<ul class="list">

  <li class="item item-toggle">
    Notificação
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

  <li class="item item-toggle">
    Sons do Aplicativo
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

  <li class="item item-toggle">
    Chat
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>





</ul>
  </ion-content>
</ion-view> 