<ion-view view-title="COMUNIDADE DO AÇAI">

  <ion-content>
    
    <div class="tela-inicial">
      <h1 class="titulo">
        Comunidade do Açai <br>
              O que<br>
      Você procura está aqui!!
      </h1>
      <div class="list">
        <label class="item item-input item-stacked-label input-label-login">
          <span class="input-label">E-mail</span>
          <input type="text" placeholder="E-mail" ng-model="email">
        </label>

        <label class="item item-input item-stacked-label input-label-login">
          <span class="input-label">Senha <i class="icon ion-eye-disabled"></i></span>
          <input  type="password" placeholder="Senha" ng-model="senha">
        </label>
      </div>
      

      <div class="padding">
        <button id="button" class="button button-block button-tela-inicial" ng-click="entrar(email, senha)">
          Entrar 
          <i class="icon ion-android-checkbox" ></i>
        </button>
    
        <button id="button" class="button button-block button-tela-inicial" ng-click="cadastrar(email, senha)">
          Novo Cadastro 
          <i class="icon ion-ios-compose"></i>
        </button>
        <button id="button" class="button button-block button-tela-inicial azul">
          Entrar com o facebook
          <i class="icon ion-social-facebook"></i>
        </button>
      </div>
    </div>


  

  </ion-content>
</ion-view>
