<ion-view name="COMUNIDADE DO AÇAI">
  <ion-content>

  <div class="list">
    <label class="item item-input item stacked-label">
      <span class="input-label">E-mail</span>
      <input type="password" placeholder="" ng-model="email">
    </label>

    <label class="item item-input item stacked-label">
      <span class="input-label">Senha</span>
      <input type="password" placeholder="" ng-model="email">
    </label>
      
   <div class="padding">
      <button id="button" class="button button-outline button-block button-royal" ng-click="loginCadastrar(email, senha)">
      Cadastrar
      </button>
    </div>
</div>


  </ion-content>
</ion-view>

    
