<ion-view name="BEM VINDOS">
  <ion-content>
<div class="list">

<div class="list">

    <a class="item item-avatar" href="#/menu/edit">
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSXDdPrcKfYrGiZjA6hT6wAkg0AEw39bSaJeP53H8N1gPCrpDlO8A">
      <h2>Veronica </h2>  
      <button class="button button-clear button-positive" >Edit</button>
    </a>

</div>

<ul class="list">

  <li class="item item-toggle" ng-repeat="tarefa in tarefas">
    Ativar GPS
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

</ul>


<div class="list">

    <a class="item item-icon-left" href="#/menu/chat">
      <i class="icon ion-person-stalker"></i>
        Pessoas Dísponiveis 
    </a>

     <a class="item item-icon-left" >
      <i class="icon ion-person-stalker"></i>
       GPS
   <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
    </a>


  <a class="item item-icon-left" href="#/ferificarLocais">
    <i class="icon ion-ionic"></i>
      Ferificar Locais   
  </a>

  <a class="item item-icon-left" href="#/menu/chat">
    <i class="icon ion-chatbubble-working"></i>
      Chat
  </a>   

  <a class="item item-icon-left" href="#/menu/configuracoes">
    <i class="icon ion-ios-cog"></i>
      Configurações
    
  </a>

  <a class="item item-icon-left" href="#/menu/ajuda">
    <i class="icon ion-help"></i>
      Ajuda
    
  </a>

  

</div>


  </ion-content>
</ion-view>

    
