<ion-view name="BEM VINDOS">
  <ion-content>
<div class="list">

<div class="list">

    <a class="item item-avatar" href="#">
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSXDdPrcKfYrGiZjA6hT6wAkg0AEw39bSaJeP53H8N1gPCrpDlO8A">
      <h2>Veronica</h2>
      <p>Faço panquecas</p>
    </a>

</div>

<ul class="list">

  <li class="item item-toggle">
    Ativar GPS
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

</ul>


<div class="list">

    <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
      Pessoas Dísponiveis <select>
      <option>Localidade</option>
      
    </select>

    <span class="badge badge-assertive">1</span>
  </a>


  <a class="item item-icon-left" href="#">
    <i class="icon ion-ionic"></i>
      Ferificar Localidade    
  </a>

  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-chatbubble-working"></i>
      Chat
    <i class="icon ion-ios-telephone-outline"></i>
  </a>   

  <a class="item item-icon-left" href="#">
    <i class="icon ion-ios-cog"></i>
      Configurações
    
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-help"></i>
      Ajuda
    
  </a>

  

</div>


  </ion-content>
</ion-view>

    
