<ion-view name="BEM VINDOS">
  <ion-content>
<div class="list">

<div class="list">

    <a class="item item-avatar" href="#/menu/edit">
      <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSXDdPrcKfYrGiZjA6hT6wAkg0AEw39bSaJeP53H8N1gPCrpDlO8A">
      <h2>Veronica </h2>  
      <button class="button button-clear button-positive" >Edit</button>
    </a>

</div>

<ul class="list">

  <li class="item item-toggle" ng-repeat="tarefa in tarefas">
    Ativar GPS
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

</ul>


<div class="list">

   
  

</div>


  </ion-content>
</ion-view>

    
