/* Empty. Add your own CSS if you like */

*{
    box-sizing: border-box;
}



.titulo {
    color: black;
    font-size: 30px;
    text-align: center;
}

.titulo1 {
    color:white;
    font-size: 20px;
    text-align: center;
}